<div class="rupantor-impact component">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
  
      <div fxLayout="column" fxLayoutAlign="center center" class="bkoi-app">
        
        <div>
            <h1 class="op-90"> With Rupantor </h1>
        </div>
        <div>
            <p class="p-light-default">Transform your operation into efficient one and let’s grow together</p>
        </div>
        <!-- lodsdfsf -->
      </div>
  
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start">
  
        <div fxFlex.lt-sm="100" fxFlex="50" fxLayout.lt-sm="row" fxLayoutAlign="end center" class="bkoi-app">
          <img src="assets/rupantor-impact.png" alt="dashboard" srcset="">
          <!-- lodsdfsf -->
        </div>
    
        <div fxFlex.lt-sm="100" fxFlex="50" fxLayout.lt-sm="row" fxLayoutAlign="start start">

          <div class="bkoi-grid-content-right ue-impact-text" >
            <p class="p-light-default">
              Our rich, error-free database is a great <br> source for the growing logistic industry <br> in our country. <br>
               Delivery services can be efficiently handled <br> by taking advantage of our data and <br> planning ahead.
             </p>
          </div>
    
              

        </div>
      </div>
  </div>