<div class="bkoi-navbar">
  <mat-toolbar [ngClass]="[isHome ? 'navbar-fixed' : 'navbar']" *ngIf="!isDev">
    <mat-toolbar-row>
      <span routerLink="/" class="bari bkoi-logo">Bari<span class="koi">koi</span></span>

      <span class="example-spacer"></span>

      <button mat-button [matMenuTriggerFor]="productsMenu">
        Products
      </button>
      <mat-menu #productsMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/api">API</button>
        <button mat-menu-item routerLink="/rupantor">Rupantor</button>
        <a href="https://map.barikoi.xyz" target="_blank">
          <button mat-menu-item>Barikoi 360</button>
        </a>
        <button mat-menu-item routerLink="/urban-engine">
          Urban Engine
        </button>
        <button mat-menu-item routerLink="/batch-geocode">
          Batch Geocoding
        </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="industriesMenu">
        Industries
      </button>
      <mat-menu #industriesMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/e-commerce">
          E-commerce
        </button>
        <button mat-menu-item routerLink="/financial-inst">
          Financial Institution
        </button>
        <button mat-menu-item routerLink="/government">
          Government
        </button>
        <button mat-menu-item routerLink="/logistics">Logistics</button>
        <button mat-menu-item routerLink="/real-estate">
          Real Estate
        </button>
        <button mat-menu-item routerLink="/on-demand">On Demand</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="developerMenu">
        Developer
      </button>
      <mat-menu #developerMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/documentation">
          Documentation
        </button>
        <button mat-menu-item routerLink="/tutorial">Tutorial</button>
      </mat-menu>

      <button mat-button routerLink="/bariscore">BariScore</button>
      <button mat-button routerLink="/pricing">Pricing</button>
      <button mat-button routerLink="/search">Search</button>
      <button mat-button routerLink="/login">Login</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
