<div class="header component">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" >
    <div fxFlex.lt-sm="100" fxFlex="54" fxLayoutAlign="center center">
      <img
      src="assets/Group 1880@2x.png"   alt="bkoi-home-dhaka" srcset="">
    </div>

    <div fxFlex.lt-sm="100" fxFlex="46" fxLayoutAlign="space-evenly center" class="header-form">
      <div fxLayout="column" fxLayoutAlign="center start">
        <h1 class="header-title  header-p1">Mapping Dhaka</h1>
        <h1 class="header-title  header-p2">Through local lenses</h1>
        <!-- <p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Search a location">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </p> -->
        <div class="bkoi-search">
          <form action="">
            <input type="search" placeholder="Search a location">
            <mat-icon matSuffix>search</mat-icon>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
