.pricing-footer {
    background: linear-gradient(to right, #041341, #0A1D33);
    color: #fff;
    h2 {
        margin-bottom: 0;
    }
    h1 {
        margin: 0;
        // text-align: left;
    }
}