<div class="pricing-footer">
    <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutAlign="center center"
        class="price-footer-height"
    >
        <div fxLayout="column" >
            <div ngClass.lt-md='lt-md-custom'>
                <h2>Not sure which billing units apply to your application?</h2>
            </div>
            <div ngClass.lt-md='lt-md-custom' >
               <a href="mailto:hello@barikoi.com?Subject=Barikoi%20API%20Query" target="_top"><h1>Contact Experts </h1></a>
            </div>
        </div>
    </div>
</div>
