.pricing-footer {
    background: transparent linear-gradient(257deg, #041341 0%, #0A1D33 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    h2 {
        margin-bottom: 0;
    }
    h1 {
        margin: 0;
        // text-align: left;
    }

    h1, h2 {
        letter-spacing: .8px;
    }

    .price-footer-height {
        height: 14em;
    }
}