<div class="urban-definition component">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center">
        <div
            fxFlex.lt-sm="100"
            fxFlex="50"
            fxLayout.lt-sm="row"
            fxLayoutAlign="end center"
            class="bkoi-app"
        >
            <img src="assets/moving-car.jpg" alt="moving car" srcset="" />
            <!-- lodsdfsf -->
        </div>

        <div fxFlex.lt-sm="100" fxFlex="50" class="applink-content">
            <div fxLayout="column" fxLayoutAlign="start start">
                <div class="bkoi-grid-content-right">
                    <h1 class="op-90">
                        Enabling the <br />
                        City Authorities to make <br />
                        Data driven decision
                    </h1>

                    <p class="p-light-default">
                        Be it trade license tax or <br />
                        Holding tax or Birth Certificate issue - Everything city
                        corporation <br />
                        can monitor from one single dashboard. Search for <br />
                        any house/building and get Location pictures, <br />
                        Holding Tax, Trade License fee instantly.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
