<div class="reset-pass">
    <h2 mat-dialog-title>Change Password</h2>
    <mat-dialog-content class="mat-typography">
      <div mat-dialog-content>
          <!-- <input matInput [(ngModel)]="data.email"> -->
         <br>
          <div class="input-group">
          
            <input
                placeholder="Current Password"
                class="form-control"
                matInput
                [(ngModel)]="current_pass"
                [type]="hide1 ? 'text' : 'password'"
                required
                #inputTarget1
            />
            <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
          </div>
          <br>
         
          <div class="input-group">
            <input
                placeholder="New Password"
                class="form-control"
                matInput
                [(ngModel)]="new_pass"
                [type]="hide2 ? 'text' : 'password'"
                #inputTarget2
            />
            <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
          </div>

          <br>

          <div class="input-group">
            <button class="mat-button" (click)="changePass(current_pass, new_pass)">Update Password</button>
          </div>
  
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
    </mat-dialog-actions>
  
</div>