.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .home-nav {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 2;
    color: #ffffff;

    mat-toolbar {
      background-color:lightgray;
      opacity: 0.8;
    }
  }
