<div class="home-nav">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>BKOI2017</span>

      <span class="example-spacer"></span>

      <button mat-button [matMenuTriggerFor]="productsMenu">Products</button>
      <mat-menu #productsMenu="matMenu" yPosition="below">
        <button mat-menu-item>API</button>
        <button mat-menu-item>Rupantor</button>
        <button mat-menu-item>Barikoi 360</button>
        <button mat-menu-item>Urban Engine</button>
        <button mat-menu-item>Batch Geocoding</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="industriesMenu">Industries</button>
      <mat-menu #industriesMenu="matMenu" yPosition="below">
        <button mat-menu-item>E-commerce</button>
        <button mat-menu-item>Financial Institution</button>
        <button mat-menu-item>Government</button>
        <button mat-menu-item>Logistics</button>
        <button mat-menu-item>Real Estate</button>
        <button mat-menu-item>On Demand</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="developerMenu">Developer</button>
      <mat-menu #developerMenu="matMenu" yPosition="below">
        <button mat-menu-item>Documentation</button>
        <button mat-menu-item>Tutorial</button>
      </mat-menu>

      <button mat-button >BariScore</button>
      <a routerLink="/pricing"><button mat-button >Pricing</button></a>
      <button mat-button >Search</button>
      <button mat-button >SignUp</button>


    </mat-toolbar-row>
  </mat-toolbar>
</div>

