<div class="pricing-support component">

    <div fxLayout="row" fxLayout.lt-sm="column">
  
  
      <div fxFlex="100" class="" >
  
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
  
          <img src="assets/pricing-shield.svg" alt="" srcset="">
  
          <h1>Barikoi Pricing</h1>
          <p class="text-center">
            Whether you’re just getting started or Building at scale, we’re here to help. <br>
            With Guaranteed response times and dedicated assistance, <br>
            we promise to help and support when you need it.
          </p>
  
        </div>
  
      </div>
    </div>
  </div>
  