
// Global Variables //
$dark-sky: #4C5976;
$neon-green: #3CB4BE;
$lime-green: #43DE7F;
$grey: #f5f5f5;
$midnight: #0A1D33;
$link: #488DE0;
$color-block-sky: #3497FD;
$color-block-paste: #3ACCE1;
$color-block-violet: #665EFF;