<div class="pricing-enterprise component">

  <div fxLayout="row" fxLayout.lt-sm="column">


    <div fxFlex="100" class="bkoi-app">

      <div class="row" fxLayoutAlign="space-evenly center" >
        <p class="p-light-small enterprise-title">For Enterprise</p>
    </div>

      <div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="30px">

        <h1>Pricing for Enterprise</h1>
        <p class="text-center">
          For large-scale enterprises and startups looking for
          volume pricing <br> or industry-specific solutions, we offer :
        </p>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
          <div fxLayout="row" fxLayoutAlign="start center" class="pricing-highlight">
            <div class="color-block color-sky"></div>
            <p class="p-light-small ">Custom solution!</p>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="pricing-highlight">
            <div class="color-block color-paste"></div>
            <p class="p-light-small">Expert Support</p>

          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="pricing-highlight">
            <div class="color-block color-violet"></div>
            <p class="p-light-small">High-volume pricing discounts</p>
          </div>

        </div>

        <a href="http://">
          <button class="bkoi-btn bkoi-btn-primary btn-primary-circle" routerLink="">CONTACT SALES</button>

        </a>
      </div>

    </div>
  </div>

</div>
