<div class="applink component">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayout.lt-md="row" fxLayoutAlign="start center"  fxFlexFill>

    <div fxFlex.lt-sm="100" fxFlex="50" fxFlex.lt-md="54" fxLayout.lt-sm="row" fxLayoutAlign="center center" class="bkoi-app">
      <img src="assets/find-bd.png" alt="" srcset="">
      <!-- lodsdfsf -->
    </div>

    <div fxFlex.lt-sm="100" fxFlex="50" fxFlex.lt-md="46" class="applink-content">
      <div class="bkoi-grid-content-right">
        
        <div fxLayout="column" fxLayoutAlign="center start" ngClass.lt-md='lt-md-custom'>
            <h3 class="rubikh3">Be it residential or business address<br>
                Get everything in one app
              </h3>
            <h3 class="rubikh3">Find address easily! </h3>
            <a href="https://play.google.com/store/apps/details?id=com.barikoi.barikoi" target="_blank">
              <img src="assets/GooglePlay.png" alt="google-play-badge" srcset="">
            </a>
        </div>

      </div>


    </div>

  </div>
</div>
