<div class="applink component">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center">

    <div fxFlex.lt-sm="100" fxFlex="50" fxLayout.lt-sm="row" fxLayoutAlign="end center" class="bkoi-app">
      <img src="assets/find-dhaka.png" alt="" srcset="">
      <!-- lodsdfsf -->
    </div>

    <div fxFlex.lt-sm="100" fxFlex="50" class="applink-content">
      <div fxLayout="column" fxLayoutAlign="start center">
        
        <div fxLayout="column" fxLayoutAlign="start start">
            <h3 class="rubikh3">Be it address or be it business or utilities or POI's <br>
                Get everything in on app
              </h3>
            <h3 class="rubikh3">Find address easily! </h3>
            <a href="https://play.google.com/store/apps/details?id=com.barikoi.barikoi" target="_blank">
              <img src="assets/GooglePlay.png" alt="google-play-badge" srcset="">
            </a>
        </div>

      </div>


    </div>

  </div>
</div>
