<div fxLayout="row" fxLayoutAlign="center center" >
        <div class="example-button-row">
            <button mat-stroked-button color="primary" (click)="emitNearbyType('food')" >Food</button>
            <button mat-stroked-button color="primary" (click)="emitNearbyType('bank')">Bank</button>
            <button mat-stroked-button color="primary" (click)="emitNearbyType('healthcare')">Healthcare</button>
            <!-- <button mat-stroked-button color="primary" (click)="emitNearbyType('transportation')">Transportation</button> -->
            <button mat-stroked-button color="primary"  (click)="emitNearbyType('education')">Education</button>
            <button mat-stroked-button color="primary" (click)="emitNearbyType('hotel')">Hotel</button>
          </div>
</div>