.bkoi-bus {
  .home-business {

    padding-top: 7em;

    h1 {
      opacity: 90%;
    }

    .bus-direction {
      width: 100%;
      // margin: 1.5em 0 0 0;
      display: inline-block;

      p {
        display: inline-flex;
      }

      mat-icon {
        display: inline-flex;
      }
    }
  }
}
