<div class="bkoi-bus component">
  <div fxLayout="row" fxLayout.lt-sm="column">

    <!-- left panel  -->
    <div fxFlex.lt-sm="100" fxFlex="50" class="bkoi-app">

      <div fxLayout="row" fxLayoutAlign="start center">

        <div class="bkoi-home-left-content home-business">
          <div fxLayout="column" fxLayoutAlign="space-evenly start">
            <h1 class="">
              Combining <br> Mapping and data to <br> build better cities.
            </h1>
  
            <div class="bus-direction">
              <mat-divider></mat-divider>
  
              <h3 class="">Barikoi for Business </h3>
              <!-- <mat-icon matSuffix>arrow_right_alt</mat-icon> -->
              <mat-divider></mat-divider>
  
            </div>
  
            <!-- <div>
              <button mat-button color="primary" fxLayout="row" fxLayoutAlign="center center">Get Started! 
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down_circle</mat-icon>
              </button>
            </div> -->
  
          </div>
        </div>

      </div>

    </div>

    <!-- right panel -->
    <div fxFlex.lt-sm="100" fxFlex="50" class="bus-content"> 

        <div fxLayout="column" fxLayoutAlign="start start">

          <div class="bkoi-home-right-content">
            <mat-card class="box-card">
              <div fxLayout="row" fxLayoutAlign="space-evenly center">
    
                  <div class="box">
                      <!-- <mat-icon class="material-icons.md-36">location_city</mat-icon> -->
                      <img src="assets/smartcity.png" alt="smart-city" srcset="">
                  </div>
            
                    <div fxLayout="column" >
            
                      <div class="bus-content-text">
                        <legend class="">Smart City</legend>
                        <p class="p-light-smaller">Detailed data to improve operations, <br>
                          engage residents and support local <br> communities.
                        </p>
            
                        <!-- <a href="#" class="">Learn More</a> -->
                      </div>
            
                    </div>
          
                </div>
          </mat-card>
    
          <mat-card class="box-card">
              <div fxLayout="row" fxLayoutAlign="space-evenly center">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center">
                      <div class="bus-content-text">
                        <legend class="">Logistics Automation</legend>
                        <p class="p-light-smaller">Amaze your users with precise <br> routing and planning. Grow your <br> business with us.
                        </p>
            
                        <!-- <a href="#" class="">Learn More</a> -->
                      </div>
            
                    </div>
                    <div class="box">
                      <img src="assets/logistics-auto.png" alt="smart-city" srcset="">
                  </div>
                </div>
          </mat-card>
    
          <mat-card class="box-card">
              <div fxLayout="row" fxLayoutAlign="space-evenly center">
    
                  <div class="box ">
                    <img class="uneven-img" src="assets/customer.png" alt="customer" srcset="">
                  </div>
            
                    <div fxLayout="column" fxLayoutAlign="space-evenly center">
            
                      <div class="bus-content-text">
                        <legend class="">Customer Mapping</legend>
                        <p class="p-light-smaller">Enabling Financial institutions like
                           banks to take data driven <br> decisions
                        </p>
            
                        <!-- <a href="#" class="">Learn More</a> -->
                      </div>
            
                    </div>
          
                </div>
          </mat-card>
          </div>
          
          </div>
      
    </div>
  </div>
</div>
