.urban-benefits {
    
    // .bkoi-grid-content-right {
    //     .mat-expander {
    //         width: 75%;
    //         margin-top: 2.2em;
            
    //     }
    // }
    
    .mat-expander-panel {
        margin: 1em 0;
        width: 75%;
            margin-top: 2.2em;
        
    }
    .expander-title {
        font: "Roboto", sans-serif;
        font-weight: 500;
    }
    img {
        max-height: 300px;
        padding-right: 2em;
        padding-top: 3em;
    }
    button {
        margin-top: 2.5em;
        margin-right: 23.5%;
    }
}