<div class="urban-benefits component">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
  
      <div  fxLayout="column" fxLayoutAlign="center center" class="bkoi-app">
        
        <div  ngClass.lt-md='lt-md-custom'>
            <h1 class="op-90"> With UrbanEngine </h1>
        </div>
        <div  ngClass.lt-md='lt-md-custom'>
            <p class="p-light-default">Once mapped, the UrbanEngine can be connected and automate</p>
        </div>
        <!-- lodsdfsf -->
      </div>
  
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayout.lt-md="row" fxLayoutAlign="start center" fxFlexFill>
  
        <div fxFlex.lt-sm="100"
          fxFlex="50"
          fxLayout.lt-sm="row"
          fxFlex.lt-md="60"
          fxLayoutAlign="end center"
          class="bkoi-app" >
          <img src="assets/urban_ben.png" alt="dashboard" srcset="">
          <!-- lodsdfsf -->
        </div>
    
        <div fxFlex.lt-sm="100" fxFlex="50" class="" fxFlex.lt-md="40">
            <div fxLayout="column" fxLayoutAlign="start start">
              <div class="bkoi-grid-content-right accordion">
                <mat-accordion class="mat-expander">
                  <mat-expansion-panel class="mat-expander-panel">
                    <mat-expansion-panel-header>
                      <mat-panel-title class="legend-medium">
                          Holding Tax Collection
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
  
                    <p class="p-light-small">
                      Proper mapping of holdings increases visibility and transparency which leads to better management and collection.
  
                    </p>
  
                  </mat-expansion-panel>
  
  
                  <mat-expansion-panel class="mat-expander-panel">
                      <mat-expansion-panel-header>
                        <mat-panel-title class="legend-medium">
                          Trade License Management
                        </mat-panel-title>
                        
                      </mat-expansion-panel-header>
                  
    
                      <p class="p-light-small">
                        Enable an efficient way to manage trade-licenses from issuing it to renewing it to tracking and monitoring the trades, all can be done with urban engine
  
                      </p>
    
                    </mat-expansion-panel>
  
  
                    <mat-expansion-panel class="mat-expander-panel">
                      <mat-expansion-panel-header>
                        <mat-panel-title class="legend-medium">
                          Road Management
                        </mat-panel-title>
                        
                      </mat-expansion-panel-header>
                  
    
                      <p class="p-light-small">
                        A complete solution to manage information about road construction, repairing, reporting
  
                      </p>
    
                    </mat-expansion-panel>
  
  
                    <mat-expansion-panel class="mat-expander-panel">
                      <mat-expansion-panel-header>
                        <mat-panel-title class="legend-medium">
                          Waste Management
                        </mat-panel-title>
                        
                      </mat-expansion-panel-header>
                  
    
                      <p class="p-light-small">
                        A unique way to predict the volume of waste generated and then manage with the data to efficiently manage the waste
  
                      </p>
    
                    </mat-expansion-panel>
  
                </mat-accordion>
              </div>
            </div>
    
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end end" >
          <button
          class="bkoi-btn bkoi-btn-primary btn-primary-circle"
      ><a href="mailto:hello@barikoi.com?Subject=Barikoi%20API%20Query" target="_top">CONTACT SALES</a>
      </button>
      </div>
  </div>