.urban-benefits {
    
    // .bkoi-grid-content-right {
    //     .mat-expander {
    //         width: 75%;
    //         margin-top: 2.2em;
            
    //     }
    // }
    
    .accordion {
        padding-top: 1.8em;
    }

    .mat-expander-panel {
        margin: 1em 0;
        width: 75%;
        box-shadow: 0px 4px 16px #455B631A;
        // margin: 1em 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 4px;
        
    }
    // .mat-expander-panel-header {
    //     height: 65px !important;
    // }

    .expander-title {
        font: "Roboto", sans-serif;
        font-weight: 500;
    }
    img {
        max-height: 300px;
        padding-right: 2em;
        padding-top: 3em;
    }
    button {
        margin-top: 2.5em;
        margin-right: 11.5%;
    }
}