<div class="urban-definition component">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center">
  
      <div fxFlex.lt-sm="100" fxFlex="50" fxLayout.lt-sm="row" fxLayoutAlign="end center" class="bkoi-app">
        <img src="assets/bkoi-api-banani-.png" alt="moving car" srcset="">
        <!-- lodsdfsf -->
      </div>
  
      <div fxFlex.lt-sm="100" fxFlex="50" class="applink-content">
        <div fxLayout="column" fxLayoutAlign="start center">
          
          <div fxLayout="column" fxLayoutAlign="start start">
              <h1 class="op-90">
                More precise and <br> The most effiecient <br> Way to locate.
              </h1>
              
              <p class="p-light-default">
                Over 90% addresses of Dhaka City Corporation has <br> been enlisted and 
                can be smoothly accessed with <br> Barikoi API.
                 Since data has been prioritized in local <br> context, it is more accurate.
              </p>
          </div>
  
        </div>
  
  
      </div>
  
    </div>
  </div>
  