<div class="bkoi-built-with component">
  <div fxLayout="row" fxLayout.lt-sm="column">

    <!-- left panel  -->
    <div fxFlex.lt-sm="100" fxFlex="50" class="bkoi-app">

      <div fxLayout="row" fxLayoutAlign="start center">

        <div class="bkoi-home-left-content">
          <div fxLayout="column" fxLayoutAlign="space-evenly start">
            <h1 class="">
              Combining <br> Mapping and data to <br> build better city.
            </h1>

            <div class="built-with-direction">
              <mat-divider></mat-divider>

              <h3 class="">Built with Barikoi </h3>
              <!-- <mat-icon matSuffix>arrow_right_alt</mat-icon> -->
              <mat-divider></mat-divider>

            </div>

            <!-- <div>
                  <button mat-button color="primary" fxLayout="row" fxLayoutAlign="center center">Get Started! 
                    <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down_circle</mat-icon>
                  </button>
                </div> -->

          </div>
        </div>

      </div>

    </div>

    <!-- right panel -->
    <div fxFlex.lt-sm="100" fxFlex="50" class="bus-content">

      <div fxLayout="column" fxLayoutAlign="start start">

        <div>
          <img src="assets/company-logos.jpg" alt="" srcset="">
        </div>

      </div>
    </div>

  </div>
</div>
