<div class="bkoi-built-with component">
  <div fxLayout="row" fxLayout.lt-sm="column">

    <!-- left panel  -->
    <div fxFlex.lt-sm="100" fxFlex="50" class="bkoi-app">

      <div fxLayout="row" fxLayoutAlign="start center">

        <div class="bkoi-home-left-content">
          <div fxLayout="column" fxLayoutAlign="space-evenly start">
            <h1 class="">
              Users who trusted our platform 
            </h1>

            <div class="built-with-direction">
              <mat-divider></mat-divider>

              <h3 class=""> Built with Barikoi
              </h3>
              <!-- <mat-icon matSuffix>arrow_right_alt</mat-icon> -->
              <mat-divider></mat-divider>

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <button routerLink="/signup" class="bkoi-btn bkoi-btn-primary btn-primary-circle" >Start Building!</button>
            </div>


          </div>
        </div>

      </div>

    </div>

    <!-- right panel -->
    <div fxFlex.lt-sm="100" fxFlex="50" class="bus-content">

      <div fxLayout="row" fxLayoutAlign="start start">
        
          <div>
            <img class="complogo" src="assets/logocom/sheba.jpg"  alt="" srcset="">
          </div>

          <div>
            <img class="complogo" src="assets/logocom/chaldal.jpg" alt="" srcset="">
          </div>

          <div>
            <img class="complogo"  src="assets/logocom/ajkerdeal.jpg" alt="" srcset="">
          </div>
  
      </div>

      <div fxLayout="row" fxLayoutAlign="start start">
        
        <div>
          <img class="complogo" src="assets/logocom/styline.jpg"  alt="" srcset="">
        </div>

        <div>
          <img class="complogo" src="assets/logocom/easytrax.jpg" alt="" srcset="">
        </div>

        <div>
          <img class="complogo" src="assets/logocom/lk.jpg" alt="" srcset="">
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        
      <div>
        <img class="complogo" src="assets/logocom/walletmix.jpg"  alt="" srcset="">
      </div>


  </div>

    </div>

  </div>
</div>
