.bkoi-built-with {
    .built-with-direction {
        width: 100%;
    }
    .bkoi-home-left-content {
        padding-top: 3em;
    }

    .complogo{
        width: 10em;
        height: 6em;
        margin: 1em
    }

    .lt-md-complogo{
        width: 5em;
        height: 4em;
        margin: 0.89em;
    }

    img {
        opacity: .8;
    }
}