<div class="pricing-calculator component">
    <div fxLayout="row" fxLayout.lt-sm="column">
        <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-evenly center">
            <h1>Pay for what you use</h1>
            <p>Barikoi Price Calculator</p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="pricing-slider">
        <div fxLayout="column" fxFlex="60" fxLayoutAlign="center center">
              <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="slider-value">
        <div fxLayout="column" fxFlex="30" fxLayoutAlign="start start">
            <p >Pay as you go 5000TK</p>
            <p >Upfront 4000TK</p>
        </div>
        <div fxLayout="column" fxFlex="30" fxLayoutAlign="end end">
            <a routerLink="">
                <button class="bkoi-btn bkoi-btn-primary btn-primary-circle">
                    CONTACT SALES
                </button>
            </a>
        </div>
    </div>
</div>
