mat-sidenav {
    width: 280px;
    padding:15px;
}
.mat-drawer { 
    background: transparent linear-gradient(212deg, #041341 0%, #0A1D33 100%) 0% 0% no-repeat padding-box;
    color:#fff
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}