<div fxLayout="column" fxLayoutAlign="space-evenly center" class="component" ngClass.lt-md='lt-md-custom'>
    <h1>Find the perfect plan for your business</h1>

    <div fxLayout="row" fxLayout.lt-sm="column"  fxLayoutAlign="center center"  fxLayoutGap="20px" fxLayoutGap.lt-sm="5px" fxLayoutGap.lt-md="8px" fxLayoutGap.lt-lg="8px">
        
      <mat-card ngClass.lt-sm='lt-sm-price-box-card' ngClass.lt-md='lt-md-price-box-card' ngClass.lt-lg='lt-lg-price-box-card'  class="example-card bg-1" fxFlex="20%" fxFlex.lt-lg="30%">
            <mat-card-header>
              <mat-card-title ngClass.lt-md='lt-md-custom'>
                <h2>Developer</h2>
              </mat-card-title>
              
            </mat-card-header>
            <mat-card-content>
                <h3><span>&#2547;</span>0 <small class="text-muted">/ mo</small></h3>
              <mat-list role="list">
                <mat-list-item role="listitem">30,000 API Calls</mat-list-item>
                <mat-list-item role="listitem">2000 Daily Limit</mat-list-item>
                <mat-list-item role="listitem">Pay As you Go</mat-list-item>
                <mat-list-item role="listitem">Additional Calls <span>&#2547;</span>0.15</mat-list-item>
              </mat-list>
            </mat-card-content>
            <mat-card-actions>
             <a [routerLink]="[ '/signup']">
              <button mat-button class="mb-20 btn-1">Get Started</button>
             </a>
            </mat-card-actions>
          </mat-card>

          <mat-card  ngClass.lt-sm='lt-sm-price-box-card' ngClass.lt-md='lt-md-price-box-card' ngClass.lt-lg='lt-lg-price-box-card' class="example-card bg-1" fxFlex="20%" fxFlex.lt-lg="30%">
            <mat-card-header>
              <mat-card-title ngClass.lt-md='lt-md-custom'>
                <h2>StartUp</h2>
              </mat-card-title>
              
            </mat-card-header>
            <mat-card-content>
                <h3><span>&#2547;</span>2500 <small class="text-muted">/ mo</small></h3>
              <mat-list role="list">
                <mat-list-item role="listitem">75000 API Calls</mat-list-item>
                <mat-list-item role="listitem">No Daily Limit</mat-list-item>
                <mat-list-item role="listitem">Monthly Billing</mat-list-item>
                <mat-list-item role="listitem">Additional Calls <span>&#2547;</span> 0.10 </mat-list-item>
              </mat-list>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="[ '/signup']">
                <button mat-button class="mb-20 btn-1">Get Started</button>
               </a>
            </mat-card-actions>
          </mat-card>

          <mat-card  ngClass.lt-sm='lt-sm-price-box-card' ngClass.lt-md='lt-md-price-box-card' ngClass.lt-lg='lt-lg-price-box-card' class="example-card bg-1" fxFlex="20%" fxFlex.lt-lg="30%">
            <mat-card-header>
              <mat-card-title ngClass.lt-md='lt-md-custom'>
                <h2>Business</h2>
              </mat-card-title>
              
            </mat-card-header>
            <mat-card-content>
                <h3><span>&#2547;</span>10000 <small class="text-muted">/ mo</small></h3>
              <mat-list role="list">
                <mat-list-item role="listitem">400,000 API Calls</mat-list-item>
                <mat-list-item role="listitem">No Daily Limited</mat-list-item>
                <mat-list-item role="listitem">Montly Billing</mat-list-item>
                <mat-list-item role="listitem">Additional Calls <span>&#2547;</span> 0.075</mat-list-item>
              </mat-list>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="[ '/signup']">
                <button mat-button class="mb-20 btn-1">Get Started</button>
               </a>
            </mat-card-actions>
          </mat-card>

          <mat-card  ngClass.lt-sm='lt-sm-price-box-card' ngClass.lt-md='lt-md-price-box-card' ngClass.lt-lg='lt-lg-price-box-card' class="example-card bg-1" fxFlex="20%" fxFlex.lt-lg="30%">
            <mat-card-header>
              <mat-card-title ngClass.lt-md='lt-md-custom'>
                <h2>Growth</h2>
              </mat-card-title>
              
            </mat-card-header>
            <mat-card-content>
                <h3><span>&#2547;</span>25000 <small class="text-muted">/ mo</small></h3>
              <mat-list role="list">
                <mat-list-item role="listitem">1,000,000 API Calls</mat-list-item>
                <mat-list-item role="listitem">No Daily Limit</mat-list-item>
                <mat-list-item role="listitem">Analytics Support</mat-list-item>
                <mat-list-item role="listitem">Additional Calls <span>&#2547;</span> 0.05 </mat-list-item>
              </mat-list>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="[ '/signup']">
                <button mat-button class="mb-20 btn-1">Get Started</button>
               </a>
            </mat-card-actions>
          </mat-card>

          <mat-card  ngClass.lt-sm='lt-sm-price-box-card' ngClass.lt-md='lt-md-price-box-card' ngClass.lt-lg='lt-lg-price-box-card' class="example-card bg-1" fxFlex="20%" fxFlex.lt-lg="30%">
            <mat-card-header>
              <mat-card-title ngClass.lt-md='lt-md-custom'>
                <h2>Enterprise</h2>
              </mat-card-title>
              
            </mat-card-header>
            <mat-card-content>
                <h3><span>&#2547;</span>Custom <small class="text-muted">/ mo</small></h3>
              <mat-list role="list">
                <mat-list-item role="listitem">Custom Limit</mat-list-item>
                <mat-list-item role="listitem">Dedicated Server</mat-list-item>
                <mat-list-item role="listitem">Analytics Support</mat-list-item>
                <mat-list-item role="listitem">Custom API Support</mat-list-item>
              </mat-list>
            </mat-card-content>
            <mat-card-actions>
              <a href="mailto:hello@barikoi.com?Subject=Barikoi%20API%20Query" target="_top">
                <button mat-button class="mb-20 btn-1 custom-price">Contact Sales</button>
               </a>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>