<div class="pricing-free component">
  <div fxLayout="row" fxLayout.lt-sm="column">


    <div fxFlex="100" class="bkoi-app">

      <div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="30px">

        <h1>Start for Free</h1>
        <p class="text-center">
          Get 30,000 API Calls FREE every month and build without <br>
          any friction. Pay 15 Tk / 100 call afterwards
        </p>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
          <div fxLayout="row" fxLayoutAlign="start center" class="pricing-highlight">
            <div class="color-block color-sky"></div>
            <p class="p-light-small ">Easy Cancellation</p>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="pricing-highlight">
            <div class="color-block color-paste"></div>
            <p class="p-light-small">Dedicated Assistance</p>

          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="pricing-highlight">
            <div class="color-block color-violet"></div>
            <p class="p-light-small">No credit card required</p>
          </div>

        </div>

        <a routerLink="/signup">
          <button class="bkoi-btn bkoi-btn-primary btn-primary-circle">Ger Started</button>

        </a>

      </div>

    </div>
  </div>
</div>
