<div class="urban-benefits component">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center" class="bkoi-app">
            <div ngClass.lt-md='lt-md-custom'>
                <h1 class="op-90">With BariKoi API</h1>
            </div>
            <div ngClass.lt-md='lt-md-custom'>
                <p class="p-light-default">
                    Improve user experience and drive engagement for your
                    product.
                </p>
            </div>
            <!-- lodsdfsf -->
        </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayout.lt-md="row" fxLayoutAlign="start center" fxFlexFill>
        <div
            fxFlex.lt-sm="100"
            fxFlex="50"
            fxLayout.lt-sm="row"
            fxFlex.lt-md="60"
            fxLayoutAlign="end center"
            class="bkoi-app"
        >
            <img src="assets/dashboard.jpg" alt="dashboard" srcset="" />
            <!-- lodsdfsf -->
        </div>

        <div fxFlex.lt-sm="100" fxFlex="50" class="" fxFlex.lt-md="40">
            <div fxLayout="column" fxLayoutAlign="start start">
                <div class="bkoi-grid-content-right accordion">
                    <mat-accordion class="mat-expander">
                        <mat-expansion-panel class="mat-expander-panel">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="legend-medium">
                                    Search
                                </mat-panel-title>
                            </mat-expansion-panel-header>
    
                            <p class="p-light-small">
                                Make your website or apps search experience better with the best location data with the best search algorithm which can be both configured to be location relevant and location agnostic.

                            </p>
                        </mat-expansion-panel>
    
                        <mat-expansion-panel class="mat-expander-panel">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="legend-medium">
                                    Nearby Suggestions
                                </mat-panel-title>
                            </mat-expansion-panel-header>
    
                            <p class="p-light-small">
                                Make the best possible experience for your user with our nearby search suggestion. This api allows to show nearby addresses to select from to the user's current location. This reduces the chance of selecting the wrong address.

                            </p>
                        </mat-expansion-panel>
    
                        <mat-expansion-panel class="mat-expander-panel">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="legend-medium">
                                    Reverse Geocode
                                </mat-panel-title>
                            </mat-expansion-panel-header>
    
                            <p class="p-light-small">
                                Is the process of converting your location coordinates to a readable location or address. Our reverse geocoding api is the best in the country with full, error free address line data. 


                            </p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end end">
                <button routerLink="/signup"
                    class="bkoi-btn bkoi-btn-primary btn-primary-circle"
                >
                Get Started
                </button>
            </div>
        </div>
    </div>
</div>
