.bkoi-developer {

    .home-development {
        padding-top: 4em;

    }

    .left-content {
        padding-left: 3em;
    }
    .dev-direction {
        margin-bottom: 3em;
        width: 100%;
    }
    .bkoi-btn {
        margin-top: 1.5em;
        color: #FFFFFF;
    }

}