.bkoi-developer {
    .dev-direction {
        margin-bottom: 3em;
        width: 100%;
    }
    .bkoi-btn {
        margin-top: 1.5em;
        color: #FFFFFF;
    }
    .bkoi-home-left-content {
        padding-top: 4em;
    }
}