<div class="bkoi-developer component">
  <div fxLayout="row" fxLayout.lt-sm="column">


    <div fxFlex.lt-sm="100" fxFlex="50" class="bkoi-app">

      <div fxLayout="row" fxLayoutAlign="start center">

        <div class="bkoi-home-left-content home-development">
          <div fxLayout="column" fxLayoutAlign="space-evenly start">
            <div class="dev-direction">
              <mat-divider></mat-divider>

              <h3 class="">Barikoi for Developers </h3>
              <!-- <mat-icon matSuffix>arrow_right_alt</mat-icon> -->
              <mat-divider></mat-divider>

            </div>

            <mat-card class="box-card">
              <div fxLayout="row" fxLayoutAlign="space-evenly center">

                <div class="box">
                  <!-- <mat-icon class="material-icons.md-36">location_city</mat-icon> -->
                  <img src="assets/smartcity.png" alt="smart-city" srcset="">
                </div>

                <div fxLayout="column">

                  <div class="bus-content-text">
                    <legend class="">Start for free</legend>
                    <p class="p-light-smaller">
                      Get 30,000 API Calls for FREE / <br> Month. Pay per 100 call 15 taka <br> afterwards !
                    </p>

                    <a routerLink="/pricing" class="">Learn More</a>
                  </div>

                </div>

              </div>
            </mat-card>

          </div>
        </div>

      </div>

    </div>

    <!-- right panel -->
    <div fxFlex.lt-sm="100" fxFlex="50" class="bus-content">

      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="bkoi-home-right-content">
          <div fxLayout="column" fxLayoutAlign="start start">

            <h1 class="">
  
              Better mapping, <br> Navigation and search <br> Experiences across <br> Platforms.
            </h1>
  
            <p class="p-light-default">
              Over 4 million people in Bangladesh <br>
             touch Barikoi products every month.
            </p>

            <div fxLayout="row" fxLayoutAlign="start start">
              <a href="https://play.google.com/store/apps/details?id=com.barikoi.barikoidemo&hl=en" target="_blank"><button
                class="bkoi-btn bkoi-btn-info btn-info-circle animatedBtn animated fadeInRight faster"
                >
               Barikoi Demo App
                </button></a>
    
              <a routerLink="/signup">
                <button class="bkoi-btn bkoi-btn-primary btn-primary-circle" >GET STARTED!</button>
              </a>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
